.intro-bio {
    background-color: $white-shade;
}
.about {
    padding: 5% 0;
    background-color: $white-shade;
    display: flex;
    justify-content: flex-end;
}

.bio {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-start;
    width: 55%; 

    &__title {
        @include secondary-font(42px);
    }

    &__text {
        @include primary-font(20px);
    }

    &__button {
        text-decoration: none;
        @include senary-font(20px);
        text-transform: uppercase;
        padding: 8px 10px;
        background-color: $accent;
        display: inline-block;
        text-align: center;
    }
}


@media (max-width: 644px) {
    .bio {
        display: block;
        width: 100%;
        padding: 3%;
    }
}