body {
    background-color: red;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10%;
}

.blog-header {
    background: url(../assets/blog-image-1.jpg); 
    background-size: cover;
	background-position: center;
    height: 40vh;    
    &__title {
        @include quaternary-font(50px);
        position: relative;
        top: 26vh;
    }
}

.info {
    width: 30%;
}

.blog-bio {
    padding: 10%;
    margin-bottom: 15px;
    background-color: #fff;

    &__image {
        padding-bottom: 5%;
        &--pic {
            width: 100%;
        }
    }

    &__title {
        margin: 0;
        @include secondary-font(32px);
    }

    &__text {
        margin: 0;
        @include primary-font(20px);
    }
}

.recent-posts {
    background-color: #fff;
    padding: 10%;

    &__title {
        @include secondary-font(32px);  
    }

    &__nav {
        padding-left: 8%;
    }

    &__list {
        &--link {
            color: $black;
            &:hover {
                color: $secondary-color;
            }
        }
        &--item {
            @include primary-font(20px);
        }
    }
}   

/* tablet view */
@media (max-width: 768px) {
    .main-content {
        display: flex;
    }

    .info {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .blog-bio {
        width: 100%;
        padding: 5%;
        display: flex;

        &__image {
            width: 50%;
            display: flex;
            padding: 0%;
        }
        &__title {
            width: 100%;
        }
        &__text {
            width: 100%;
        }
        &__content {
            margin-left: 5%;
        }
    }

    .recent-posts {
        width: 100%;
        padding: 5%;
        margin-bottom: 15px;
    }

    
    .article {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .comment {
        display: block;
        width: 100%;
    }

}

// media query to support small profile images
@media (max-width: 623px) {
    .blog-bio__image {
        width: 70%;
    }    
}

@media (max-width: 553px) {
    .blog-bio__image {
        width: 80%;
    }    
}

/* mobile view */
@media (max-width: 480px) {
    .blog-bio__image {
        width: 90%;
    }    
}