.article-main {
    // background-color: blue;    
    margin-left: 5%;
    width: 65%;
}

.article {
    background-color: #fff;
    padding: 3%;
    margin-bottom: 15px;
    border-bottom: 4px solid $tertiary-color;
    &__title {
        @include secondary-font(32px);
    }
    &__text {
        @include primary-font(20px);
    }
}


.comment {
    background-color: green;
    margin: 15px 0;
    &__user {
        margin: 10px 0;
        background-color: purple;  
        padding: 3%;  
        display: flex;
        &:last-child {
            border-bottom: 4px solid $tertiary-color;
        }
    }

    &__image {
        width: 15%;
        &--profile {
            width: 100%;
            display: block;
        }
    }

    &__content {
        width: 82%;
        margin-left: 3%;
    }

    &__title {
        @include primary-font(20px);
    }

    &__text {
        @include primary-font(20px);
        margin: 0;
    }
}

@media (max-width: 768px) {
    .article-main {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
    }
}

/* mobile view */
@media (max-width: 480px) {
    

    .comment {
        margin: 0;
        padding: 0;
        &__user {
            flex-direction: column;
        }
        &__image {
            padding: 3%;
            width: 100%;
            &--profile {
                width: 89px;
            }
        }
        &__content {
            width: 100%;
            display: block;
        }
    }
}