.background-contact {
    background-color: $white-shade;
}

.contact-body {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10%;
}

.contact-header {
    background: url(../assets/contact-image-1.jpg); 
    background-size: cover;
	background-position: center;
    height: 40vh;    
    &__title {
        @include quaternary-font(50px);
        position: relative;
        bottom: -190px;
    }
}

.social-media {
    padding: 3% 2%;
    align-self: flex-start;
    margin-bottom: 20px;
    background-color: #fff;
    width: 30%;
    &__list {
        display: flex;

    }
    &__icon {
        list-style: none;
        &--link {
            font-size: 30px;
            padding-right: 35px;
            color: $tertiary-color;
            &:hover {
            color: $secondary-color;
            }
        }
    }
    &--email {
        @include senary-font(20px);
        padding: 15px 0;
    }



    &-contact {
        &__list {
            &--item {
                list-style: none;
                @include primary-font(20px);
            }
        }
    }
}

.contact-form {
    width: 65%;
    margin-left: 5%;
}

@media (max-width: 730px) {
    .contact-body {
        display: block;
    }

    .social-media {
        width: 60%;
        padding: 3%;
    }

    .contact-form {
        width: 100%;
        margin: 0;
        padding: 0;
    }    
} 

@media (max-width: 644px) {
    .contact-body {
        padding-top: 20%;
    }
    .contact-header {  
        &__title {
            @include quaternary-font(25px);
            position: relative;
            bottom: -225px;
        }
    }
}


@media (max-width: 480px) {
    .contact-body {
        display: block;
    }

    .social-media {
        width: 100%;
        padding: 3%;
    }

    .contact-form {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}