.wrapper {
    max-width: 1640px;
	width: 80%;
	margin: 0 auto;
    border: 1px dotted pink;
}

body {
    background-color: pink;
}
@media (max-width: 1080px) {
    .wrapper {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .wrapper {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .wrapper {
        width: 100%;
    }
}