.journey {
    padding: 7% 0;
    background-color: $white-shade;

    &--section {
        display: flex;
    }

    &__image--pic {
        box-shadow: 10px 10px $tertiary-color;
    }

    &--content {
        margin-left: 10%;
    }

    &__title {
        @include secondary-font(42px);
    }

    &__text {
        @include primary-font(20px);
    }

    &__button {
        text-decoration: none;
        @include senary-font(20px);
        text-transform: uppercase;
        padding: 8px 10px;
        background-color: $accent;
        display: inline-block;
        text-align: center;
    }


}


@media (max-width: 644px) {
    .journey {
        &--section {
            display: block;
        }
        &__image--pic {
            box-shadow: 10px 10px $tertiary-color;
        }
        &--content {
            margin: 0;
            width: 100%;
            text-align: center;
        }
        &__title {
            margin-top: 10px;
        }
        &__image {
            margin: 0 auto;
            text-align: center;
        }
    }

}