.overview {
    background-color: $white-shade;
    &--image {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    &--content {
        display: flex;
        flex-wrap: wrap;
        padding: 5% 0;
    }

    &--item {
        @include senary-font(32px);
        margin-left: 10px;
    }

    &--photos, &--about, &--blog, &--contact {
        width: 50%;
        padding-bottom: 3%;
    }

    &--title {
        display: flex;
        align-items: center;
        @include secondary-font(42px);
    }

    &--background {
        background-color: pink;
        width: 45px;
        height: 45px;
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &--icon {
        font-size: 20px;
    }

    &--text {
        margin-left: 55px;
        @include primary-font(20px);
    }
}

// mobile
@media (max-width: 768px) {
    .overview {
        &--photos, &--about, &--blog, &--contact {
            width: 100%;
            padding: 3%;
        }
    }
}


